<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="css/_style.css" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
  />
  <title>MonkeyMoney</title>
</head>

<body>
  <!-- Main Header Section -->
  <header>
    <a href="#" class="logo">
      <span>Monkey</span>
      <span class="yellow">Money</span>
    </a>

    <ul class="nav-bar">
      <li class="dropdown">
        <a href="#">What we do <i class="ri-arrow-down-wide-line"></i></a>
        <div class="dropdown-menu">
          <a href="#">AI</a>
          <a href="#">webapp</a>
        </div>
      </li>
      <li><a href="#">What we think</a></li>
      <li class="dropdown">
        <a href="#">Who we are <i class="ri-arrow-down-wide-line"></i></a>
        <div class="dropdown-menu">
          <a href="#">Our Team</a>
          <a href="#">Our Vision</a>
          <a href="#">Our Mission</a>
        </div>
      </li>
      <li><a href="#" class="active">Membership</a></li>
    </ul>

    <div class="main">
      <a href="login" class="user"><i class="ri-user-fill"></i>Sign In | Register</a>
      <div class="bx bx-menu" id="menu-icon"></div>
    </div>

    <div class="close-btn" id="close-icon">
      <i class="ri-close-fill"></i>
    </div>
  </header>

  <!-- Test Content -->
  <section style="padding: 20px;">
    <h1>Welcome to MonkeyMoney</h1>
    <p>The innovation for make your finance easier.</p>
    <p style="height: 1200px;">Scroll down to see our technology details.</p>
  </section>

  <script src="js/front.js"></script>
</body>

<footer></footer>
</html>
