<!DOCTYPE html>
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="css/style.css" rel="stylesheet" />
    <title>Doc</title>
</header>

<body>
    <div class="menu" id="menu">
        <div class="menu-container">
            <div class="logo">
                <img src="image/user-3296.png" class="logoImage"> 
            </div>
            <div class="rightNav">
                <div class="rightNavContainer">
                    <div class="profile">
                        <img src="image/user-3296.png" class="profileUser" alt="รูปหมา" > 
                    </div>
                    <div class="username">
                       <a href="/user" class="Ausername">Username</a>
                    </div>
                </div>
                
            </div>
           

            
        </div>
       
    </div>
    <div class = "background">
    
        <div class="container">   
            <form  method="post" class="fromData" action="/result">
                <div class = "objcontain 1">
                    <p>Enter your money</p>
                    <input type="number" id="money-input" name="money_input" placeholder="Enter money here...">
                </div>  
                  
                <div class = "checkboxcontain">
                    <label for="item1">
                    <input type="checkbox" id="item1" name="AiPredict">
                        Ai Predict
                    </label>
                    <label for="item2">
                    <input type="checkbox" id="item2" name="Manual">
                        Manual
                    </label>
    
                </div>
                
                <div class = "objcontain 2">
                    
                    <label for = "Percentage-input"><input type="number" id="Percentage-input" name="Percentage_input_Manual" placeholder="Enter percentage here..."> </label>
                    <div class="percent">%</div>
                </div>
                
                <div class = "objcontain 3">
                    <button type="submit" id = "submit button"> Submit </button>
                </div>
    
            </form>
            
        </div>
    </div>
</body>

<footer>
<div class = "credit">
    <div class="team-member">
          
        <div class="info">
             <h3>disclaimer</h3>
             <p>This website is make for grade and credit in AioT course only. 
                For any question please contract Tel:0970833356  </p>
         </div>

     </div>
</div>

</footer>
