*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* for Archive.ejs */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 70vw;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}

/* -------------------------- */



.menu {
    background-color: #f0fd34e3;
 
    /* padding: 10px; */
    /* display: flex;
    align-items: center; */
    height: 7vh;
    
    

}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 70vw;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}

.menu-container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: auto;
    grid-column-gap: 75vw;
    background-color: #f0fd34e3;
    width: 100%;
    
}

.rightNavContainer{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: auto;
    /* grid-column-gap: 1px; */
    
}

.profile,.username,.logo{
    /* border: 1px solid red;
    background-color: aqua; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 7vh;
    padding: 10px;
    
}


.Ausername{
    color: #000000;
    padding: 10px;
    text-align: center;   
    text-decoration: none;
    font-size: 1rem;
    
}



    .credit {
        background-color: #2c2c2ce3;
        color: rgb(255, 255, 255);
        padding: 10px;
        display: flex;
        justify-content: center;
        height: 15vh;
    }
.credit a{
    color: #ffffff;
    padding: 10px 30px;
    display: block;
    text-decoration: none;
}
.info{
   justify-content: center;
}
.background{
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* background-image: url("https://www.phoenixnext.com/pub/media/magefan_blog/many_dear.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.container{
    
    
    height: 78% ;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

/* .card-body,card-title,card-title{
    width: 50%;
} */
 .card text-center {
    width: 50%;
 }

.objcontain{

    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2rem;
    align-items: center;
}

.objcontain4{
    width: 80vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2rem;
    align-items: center;
}
 
.checkboxcontain{
    display: flex; /* Use flexbox for layout */
    align-items: center;
    justify-content: center;
   
    
}

.checkboxcontain label{
    margin-left: 10px;
}

#Percentage-input{
    position: relative;
}

.percent{
    position: absolute;
    /* background-color: green; */
    right: -10px;
    
}

footer{
    width: 100%;
}

.card{
    border:1px solid hsl(0, 0%, 80%);
    border  : radius 10px;
    box-shadow:5px 5px 5px hsla(0%,0%,0%,0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}

.card .card-image{
    max-width: 60% ;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card .card-title{
    font-family: prompt;
    margin: 0;
    color: hsl(0, 0%, 20%);
}

.card .card-text{
    font-family: prompt;
    color: hsl(0, 0%, 30%);
}
